/* Custom CSS for Xeitos project */
/* General */

/* Header */
/* Main menu fondo*/
header .navbar-default {
	background-color: transparent;
}
/* Main menu link*/
.navbar-default .navbar-nav > li > a {
	color: ##212121;
}

header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
	background-color: #B2EBF2;
	color: #212121;
}

header .navbar-default .navbar-nav > .active > a,
header .navbar-default .navbar-nav > .active > a:hover,
header .navbar-default .navbar-nav > .active > a:focus {
	background-color: #B2EBF2;
	color: #212121;
}

/* Dropdown submenu */
header .navbar-default .dropdown-menu {
	background-color: #FFFFFF;
}

header .navbar-default .dropdown-menu > li a {
        padding: .75em 1.5em;
	color: #212121;
}

header .navbar-default .dropdown-menu > li a:hover,
header .navbar-default .dropdown-menu > li a:focus,
header .navbar-default .dropdown-menu > li.active a {
        background-color: #B2EBF2;
	color: #212121;
}

/* Footer */
