/* Custom CSS for Xeitos.com project */
/* General */

/* Header */
/* Main menu */

header.navbar-inverse {
  background-color: #FFF;
  margin: 0px;
  border: none;
  position: relative;
}

/* Content */
