/* Custom CSS for Xeitos project */
/* General */

/* Header */
/* Main menu */
header .navbar-default {
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #BBDEFB;
}

header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
	background-color: #BBDEFB;
	color: #212121;
}

/* Dropdown submenu */
header .navbar-default .dropdown-menu {
	background-color: #BBDEFB;
}

header .navbar-default .dropdown-menu > li a {
        padding: .75em 1.5em;
	color: #BBDEFB;
}

header .navbar-default .dropdown-menu > li a:hover,
header .navbar-default .dropdown-menu > li a:focus,
header .navbar-default .dropdown-menu > li.active a {
        background-color: #000;
	color: #BBDEFB;
}

/* Footer */
#wrapwrap footer {
        background-color: #BBDEFB;
	color: #BBDEFB; 
}

/* Footer menu */
footer ul {
	padding: 0;
}

footer ul li {
	list-style: none;
	display: inline-block;
}

footer ul li a {
	color: #999;
	font-size: 90%;
	padding: 0 1em;
}

footer ul li a:hover {
        color: #333;
	text-decoration: none;
}

/* Responsive fixes */
@media (max-width: 768px) {
	header .navbar-default .navbar-nav .open .dropdown-menu > li a {
	        color: #BBDEFB;
	}
